{% extends "layout.html" %}

{% block title %}
    Greeting
{% endblock %}

{% block main %}

  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title" style="margin-bottom: 15px;">Hi, {{ questionnaire.name }}💖</h5>
      <h5 class="card-text">Here is your goal:</h5>
      <p class="card-text">{{ questionnaire.goal }}</p>
      <p class="card-text"><small class="text-muted">Go see your <a href="/plan">Plan</a></small></p>
    </div>
    {% if randpic() %}
      <div class="container w-25">
        <img src="{{ randpic() }}" class="card-img-bottom" alt="rand pic from inspirations">
      </div>
    {% else %}
      <img src="/static/22ad4ed410bff0dc32e48405d0f732b2.jpg" class="card-img-bottom" alt="pink flowers default">
    {% endif %}
  </div>
{% endblock %}
