{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="mb-3">
        <table class="table table-striped table-bordered align-middle">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Price:</th>
                    <th>Symbol:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ response.name }}</td>
                    <td>{{ price }}</td>
                    <td>{{ response.symbol }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
